
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
   
        background: linear-gradient(to right, rgba(6, 11, 38, 0.8), rgba(100, 217, 254, 0.8)), url('background-image.jpg');
        background-size: cover;
    
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

main {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3700ff;
}
#h2{
    color: #3700ff;
    font-size: 1.8em;
}

form {
    display: flex;
    flex-direction: column;
}

label, input[type="text"], input[type="email"], textarea {
    margin-bottom: 10px;
    font-size: 1em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
#pfp {
    display: block;
    margin: 20px auto;
    height: auto;
    width: 250px;
    
    
    
}
#pfp:hover { transform: scale(1.05);
}